# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

target/
log/
.DS_Store
*/.DS_Store

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.project
.VSCodeCounter
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
.vscode/settings.json
hydra-code-client/.classpath
hydra-code-client/.factorypath
hydra-code-client/.project
hydra-code-client/.settings/org.eclipse.core.resources.prefs
hydra-code-client/.settings/org.eclipse.jdt.apt.core.prefs
hydra-code-client/.settings/org.eclipse.jdt.core.prefs
hydra-code-client/.settings/org.eclipse.m2e.core.prefs
hydra-code-common/.classpath
hydra-code-common/.factorypath
hydra-code-common/.project
hydra-code-common/.settings/org.eclipse.core.resources.prefs
hydra-code-common/.settings/org.eclipse.jdt.apt.core.prefs
hydra-code-common/.settings/org.eclipse.jdt.core.prefs
hydra-code-common/.settings/org.eclipse.m2e.core.prefs
hydra-code-server/.classpath
hydra-code-server/.factorypath
hydra-code-server/.project
hydra-code-server/.settings/org.eclipse.core.resources.prefs
hydra-code-server/.settings/org.eclipse.jdt.apt.core.prefs
hydra-code-server/.settings/org.eclipse.jdt.core.prefs
hydra-code-server/.settings/org.eclipse.m2e.core.prefs
